<div class="mep-wrapper"
     (click)="createElementByMouse($event)"
     (mousemove)="onMouseMove($event)">

  <mep-element *ngIf="!this.mepService.editableElementId &&!this.movingEl"
               class="ghost"
               [style.left]="mousePosition?.left + 'px'"
               [style.top]="mousePosition?.top + 'px'"
               [style.--element-color]="'white'">
  </mep-element>

  <mep-connections [connectionViewModels]="connectionViewModels"
                   (connectionClick)="onConnectionClick($event)"
                   (connectionMiddleClick)="removeConnection($event)">
  </mep-connections>

  <mep-element *ngFor="let el of elements"
               [element]="el"
               [style.left]="el.x + 'px'"
               [style.top]="el.y + 'px'"
               [style.--element-color]="el.color"
               [class.cursor-grabbing]="movingEl?.id === el.id"
               (click)="$event.stopPropagation()"
               (mousedown)="onElementMouseDown($event, el)"
               (textChanged)="textChanged($event, el)"
               (input)="mapConnectionViewModels()">
  </mep-element>

  <mep-toolbar [activeTool]="activeTool"></mep-toolbar>

</div>
