<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mep::Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let mep of meps" [routerLink]="'/mep/' + mep">
      {{ mep }}
    </ion-item>
    <ion-item>
      <ion-label>Create New</ion-label>
      <ion-input #newMapNameInput></ion-input>
      <ion-button slot="end" [routerLink]="'/mep/' + newMapNameInput.value">
        Create
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
